<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ucl.appteam7.minapmobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ucl.appteam7.minapmobile.LoginActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PatientDetailsActivity"
      		android:label="@string/title_patient_details">
    	</activity>
    	<activity android:name=".NavigationMapActivity"
    	    android:label="@string/title_navigation_map" >
    	</activity>
    	<activity android:name=".InitialDiagnosisActivity"
    	    android:label="@string/title_initial_diagnosis">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavigationMapActivity" />
    	</activity>
    	<activity android:name=".DemographicsAndAdmissionActivity"
    	    android:label="@string/title_demographics_and_admission" >
             <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavigationMapActivity" />
    	</activity>
    	<activity android:name=".PrehospitalEventsActivity"
    	    android:label="@string/title_prehospital_events" >
              <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavigationMapActivity" />
    	</activity>
    	<activity android:name=".InitialReperfusionActivity"
    	    android:label="@string/title_initial_reperfusion" >
               <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavigationMapActivity" />
    	</activity>
    	<activity android:name=".ExaminationsActivity"
    	    android:label="@string/title_examinations" >
                <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavigationMapActivity" />
    	</activity>
    	<activity android:name=".MedicalHistoryActivity"
    	    android:label="@string/title_medical_history" >
                 <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavigationMapActivity" />
    	</activity>
    	<activity android:name=".AngiographyActivity"
    	    android:label="@string/title_angiography" >
                  <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavigationMapActivity" />
    	</activity>
    </application>

</manifest>
